<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .page-footer {
            bottom: 0;
            position: fixed;
            width: 100%;
        }
    </style>
    <title><%= data.title %></title>
</head>

<body>
    <%- include includes/nav.ejs %>
    <div class="container animated fadeInUp slow">
        <div class="row mt-5">
            <div class="col-md-1">
                <img class="rounded-circle" src="<%= data.user.imageUrl %>" alt="<%= data.user.imageUrl %>" width="60"
                    height="60">
            </div>
            <div class="col-md-8 text-left">
                <p class="mt-2"><strong>By : <%= data.user.name %></strong></p>
                <p style="margin-top: -15px"><strong>On, <%= data.date.toDateString()%></strong></p>
                <div style="margin-top: -15px">
                    <span id="readTime"></span> min read
                </div>
            </div>
        </div>
        <hr>
        <input type="hidden" value="<%= data.content %>" id="content">
        <div class="row">
            <div class="col-md-12">
                <p class="responsive"><%- data.content %></p>
            </div>
        </div>
    </div>
    <%- include includes/foot.ejs %>
    <script type="text/javascript">
        var totalWords = document.getElementById("content").value;
        var timeToRead = totalWords.length / 200;
        var timeInt = Math.round(timeToRead);
        document.getElementById("readTime").innerHTML = timeInt;
        console.log(totalWords, timeToRead, timeInt)
    </script>
</body>

</html>